# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Ignore large files
*.zip
*.gz
*.tar
*.rar
*.7z
*.part

# Ignore virtual environments
env/
venv/
newenv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.nosetests.xml
.coverage.xml

# Translations
*.mo
*.pot

# Django/Flask/Database files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# pdm
.pdm.lock
.pdm.toml

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Sphinx documentation
docs/_build/

# Hidden system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Logs
*.log

# Ignore specific artifacts
artifacts/

# For Git Large File Storage (LFS)
*.zip filter=lfs diff=lfs merge=lfs
*.part filter=lfs diff=lfs merge=lfs
